.dashboard-wrapper {
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-title {
  font-size: 40px;
  padding-bottom: 5px;
  border-bottom: 2px solid #4708a0;
  color: #fff;
}

.switch-buttons {
  display: flex;
  gap: 10px;
}

.switch-buttons button {
  background: #121212;
  cursor: pointer;
  transition: background 0.2s ease;
}

.switch-buttons button:hover {
  background: #252525;
}

.switch-buttons button:focus {
  background: #4708a0;
}

.page-layout {
  display: flex;
  width: 100%;
  gap: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.block {
  background: #3d3d3d;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 12px #4708a0;
  width: 600px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #2f2f2f;
}

select {
  padding: 6px;
  margin: 6px;
}

.chart-block-bar {
  width: 600px;
  height: 600px;
}

.chart-block-pie {
  width: 500px;
  height: 500px;
}
